#world {
    padding-bottom: 10px;
}
table {
    background-color: hsl(0, 0%, 96%);
}
td {
    border: 1px solid darkgray;
    width: 10px;
    height: 10px;
    border-radius: 15px;
}

td.dead {
    background-color: transparent;
}
td.alive {
    background-color:rgba(45, 69, 202, 0.747);
}
