body {
	font: 20px Montserrat, sans-serif;
	line-height: 1.8;
	color: #f5f6f7;

}

p {
	font-size: 16px;
}

.margin {
	margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
	.margin-small {
		margin-bottom: 25px;
		margin-top: 10px;
	}
}

.container-fluid {
	padding-top: 50px;
	padding-bottom: 50px;
}

.img-circle {
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

.color-change {
	color: red;
}

.color-change-blue {
	color: #0dc1d7;
}

.bg-1 {
	color: #ffffff;
	padding-top: 0;
	padding-bottom: 0;
}

.bg-2 {
	background-color: rgba(216, 239, 204, 0.57); /* Dark green */
	color: #000;
}

.bg-2 p {
	margin: 0 auto;
}

.bg-3 {
	background-color: #fff; /* white */
	color: #000;
}

.bg-4 {
	background-color: #2f2f2f; /* Black Gray */
	color: #fff;
}

.padding-Top {
	padding-top: 15px;
}

.images-padding-top {
	padding-top: 0;
}
.navbar {
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 14px;
	letter-spacing: 5px;
}

.navbar-nav li a {
	color: #7b7676 !important;
}

.navbar-nav li a:hover {
	color: #0dc1d7 !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 55%;
	margin: auto;
}

@media screen and (max-width: 550px) {
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
		width: 100%;
		margin: auto;
	}
}

/* Filter buttons */
button {
	background-color: #b7b7b7;
	border: none;
	padding: 3px 10px 4px 10px;
	border-radius: 4px;
	color: #333;
	font-family: 'Karla', sans-serif;
	font-size: 100%;
}

button:hover, button.active {
	background-color: #00cccc;
	color: #fff;
	cursor: pointer;
}


/* Search input */
input {
	font-size: 120%;
	border: 1px solid #999;
	padding: 5px;
}

input:hover {
	border: 1px solid #666;
}

input:focus {
	border: 1px solid #00cccc;
	outline: none;
}

/* Gallery of images */
#gallery {
	text-align: center;
	max-width: 1020px;
	margin: 0 auto;
}

#gallery img {
	width: 300px;
	height: 180px;
	border-radius: 3px;
	border: 8px solid #fff;
	margin: 6px;
	-webkit-box-shadow: 0 0 3px 3px #ebebeb;
	box-shadow: 0 0 3px 3px #ebebeb;
	float: left;
}


/* Table styles */
table {
	margin: 0 auto;
	width: 780px;
}

table #rates {
	width: 380px;
}
th, td {
	border-radius: 3px;
	color: #333;
	padding: 7px 10px 5px 10px;
	min-width: 9em;
	text-align: left;
}

th {
	background-color: #d7d7d7;
	font-weight: bold;
	text-transform: uppercase;
}

td {
	background-color: #fff;
}

table.sortable th:hover {
	cursor: pointer;
}

th.ascending, th.descending, table.sortable th:hover {
	background-color: #00cccc;
	color: #fff;
}

/* Arrows for table sorting */
th.ascending:after {
	font-size: 60%;
	content: '\25B2';
	float: left;
	padding: 4px 5px 0 0;
}

th.descending:after {
	font-size: 60%;
	content: '\25BC';
	float: left;
	padding: 4px 5px 0 0;
}

.about {
	width: 780px;
	margin: 0 auto 40px auto;
}

.about:after {
	content: "";
	display: table;
	clear: both;
}

.about h2 {
	text-align: left;
	float: left;
}

.bio {
	float: right;
	width: 195px;
}

.bio img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.location {
	padding-left: 74px;
	background-image: url('../img/pointer.png');
	background-repeat: no-repeat;
	background-position: 60px 1px;
	font-size: 90%;
}

button {
	margin-left: 20px;
	margin-bottom: 10px;
}

.paddingBottom0 {
	padding-bottom : 0;
}
