body {
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.5;
	background-color: #e9f9f6;
}

#page {
	width: 100%;
	text-align: center;
}

#headerNav {
	display: inline;
	width: 20%;
	float: left;
}

#pageContent {
	height: auto;
	width: 80%;
	display: inline-block;
	float: right;
}

/*navigation menu*/
.menu {
	overflow-x: hidden;
	position: static;
	display: inline-block;
}

.menu-open {
	left: 20%;
}

.menu-open .menu-side {
	left: 0;
}

.menu-side,
.menu {
	-webkit-transition: left 0.5s ease;
	-moz-transition: left 0.5s ease;
	transition: left 0.5s ease;
}

.menu-side {
	background-color: rgba(126, 180, 178, 1);
	border-left: 1px solid #000;
	color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	padding: 10px;
	z-index: 1600;
	border-radius: 0;
}

.menuButton {
	display: none;
}

.container {
	width: 100%;
}

.list-nav {
	padding-top: 5px;
}

.list-nav a {
	color: #000000;
	text-decoration: none;
	font-size: 1.3em;
	display: block;
	padding-top: 20px;
	padding-left: 10px;
}

.navbar-nav li {
	display: block;
	width: 100%;
}

.navbar-nav li a {
	color: #000000;
	text-decoration: none;
	font-size: 1.3em;
	display: block;
	padding-top: 20px;
	padding-left: 10px;
	display: block;
}

.navbar-nav a:hover,.navbar-nav .active a {
	color: #40badc;
	background-color: #fff !important;
}

.side-details {
	padding-top: 40px;
}

.side-details > h6 {
	padding-top: 15px;
	padding-left: 10px;
	font-size: 14px;
}

.side-details-button {
	margin-top: -10px;
	margin-left: 40px;
}

.side-details-button {
	background-color: white;
	color: black;
}

/*footer*/
.navbar-fixed-bottom {
	position: relative;
	width: 100%;
	float: right;
}

#carousel-section {
	padding: 0;
}

@media screen and (max-width: 1070px) {
	.menu-side {
		left: -20%;
	}

	.menu-toggle img {
		float: right;
	}

	.menuButton {
		display: block;
		width: 100%;
		height: 3em;
		position: fixed;
		z-index: 1000;
		background-color: #efefef;
	}

	.menuButton a {
		float: right;
		margin-right: 5%;
		display: inline-block;
		margin-top: 2%;
	}

	.menuButton h3 {
		display: inline-block;
		padding-left: 3%;
		padding-bottom: 2%;
	}

	#headerNav {
		width: -20%;
	}

	#pageContent{
		width: 100%;
		display: block;
	}
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
}

@media screen and (max-width: 900px) {
	.menu-side {
		left: -60%;
		width: 40%;
	}
	ul.navbar-nav {
		margin:.2em;
	}
}

@media screen and (max-width: 650px) {
	.menu-side {
		left: -60%;
	}
}

@media screen and (max-width: 405px) {
	.menu-side {
		left: -70%;
		width: 60%;
	}
}

@media screen and (min-width: 800px) {
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 100%;
		height: 470px;
	}
}

@media screen and (min-width: 1250px) {
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 100%;
		height: 600px;
	}
}
