body {
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'ABeeZee', sans-serif;
}

#page {
	width: 100%;
}

#headerNav {
	display: inline;
	width: 20%;
	float: left;
}

#pageContent {
	height: auto;
	width: 80%;
	display: inline-block;
	float: right;
	font-size: 1.2em;
	text-align: center;
}

.bckgrdGrey {
	background-color: blue;
}

.nobckgrdcolor {
	background-color: none;
}

/*navigation menu*/
.menu {
	overflow-x: hidden;
	position: static;
	display: inline-block;
}

.menu-open {
	left: 20%;
}

.menu-open .menu-side {
	left: 0;
}

.menu-side,
.menu {
	-webkit-transition: left 0.5s ease;
	-moz-transition: left 0.5s ease;
	transition: left 0.5s ease;
}

.menu-side {
	background-color: #1F6596;
	border-left: 1px solid #000;
	color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	padding: 10px;
	z-index: 1600;
	border-radius: 0;
	font-size: 1.6em;
	font-family: 'PT Sans Narrow', sans-serif;
}

/*logo image on side bar nav*/
#logo-img {
	width: 200px;
	height: 130px;
}

.menuButton {
	display: none;
}

#menuHead {
	background-color: #222222;
	color: #ffffff;
}

.container {
	width: 100%;
}

.list-nav {
	padding-top: 5px;
}

.list-nav a {
	color: #ffffff;
	text-decoration: none;
	font-size: 1.3em;
	display: block;
	padding-top: 20px;
	padding-left: 10px;
}

/*menu nav*/
.navbar-nav li {
	display: block;
	width: 100%;
}

.navbar-nav li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 1.3em;
	display: block;
	padding-top: 20px;
	padding-left: 10px;
	display: block;
}

.navbar-nav a:hover,.navbar-nav .active a {
	color: #40badc;
	background-color: #fff;
}

.side-details {
	padding-top: 40px;
}

.side-details > h6 {
	padding-top: 15px;
	padding-left: 10px;
	font-size: 14px;
}

.side-details-button {
	margin-top: -10px;
	margin-left: 40px;
}

.side-details-button {
	background-color: white;
	color: black;
}

.subSection {
	height: 250px;
	width: 100%;
}

.subSection img {
	height: 100%;
	z-index: -1;
	width: 100%;
	position: relative;
}

.subSection h1 {
	position: absolute;
	display: inline-block;
	color: #ffffff;
	padding-top: 5%;
	text-align: center;
	font-size: 2.3em;
	left: 20%;
	right: 0%;
}

/*footer*/
.navbar-fixed-bottom {
	position: relative;
	width: 100%;
	float: right;
}

#carousel-section {
	padding: 0;
}

#section2-about, #section3-services,#section4-pricing, #section5-equipment {
	padding: 5%;
	margin: 0;
	margin-left: -1.3%;
	margin-right: -1.3%;
	height: 100%;
	color: #000000;
}

#section6-faq {
	padding: 5%;
	margin: 0;
	margin-left: -1.3%;
	margin-right: -1.3%;
	color: #000000;
}


#accordion {
	text-align: left;
	height: 100%;
}

#accordion h3 {
	background-color: #efefef;
	cursor: pointer;
	padding: 5px;
	margin:0;
	margin-right: 0;
	margin-left: 0;

}

#accordion div p {
	background-color: #E8EFF9;
	padding: 2%;
}

#accordion div {
	background-color: #E8EFF9;
	height: 100%;
}

#section7-contact {

}

.contact-details {
	padding-top: 5%;
}

.lightBluebg {
	background-color: #99adc866;
}

#priceInput {
	color: black;
}

.projectVideos:hover {
	width: 98%;
	cursor: pointer;
}

/*google map*/
#googleMap {
	height: 290px;
	width: 100%;
	margin-bottom: 18px;
}

.container-box {
	padding: 0;
	margin: 0;
	border-radius: 10px;
}

.container-box img {
	width: 400px;
	border-radius: 10px;
}

.hide-projects {
	display: none;
}

.show-projects {
	display: block;
	transition: all .2s ease-out;
}

#section4-pricing {
	height: auto;
}

#section1 h2,#section2-about h2, #section3-services h2,#section4-pricing h2, #section5-equipment h2, #section6-faq h2, #section7-contact h2 {
	padding: 1%;
	border: 4px solid #40C1E6;
	margin-left: 35%;
	margin-right: 35%;
	background-color: #ffffff;
	font-family: 'Play', sans-serif;
}

#section6-faq h2 {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	text-align: left;
}

#section6-faq h2:first-child {
	margin: 0;
}

.hide {
	display: none;
}

.show {
	display: block;
}
/*media queries*/
@media screen and (max-width: 1070px) {
	.menu-side {
		left: -23%;
	}

	.menu-toggle img {
		float: right;
	}

	.menuButton {
		display: block;
		width: 100%;
		height: 3em;
		position: fixed;
		z-index: 1000;
		background-color: #efefef;
	}

	.menuButton a {
		float: right;
		margin-right: 5%;
		display: inline-block;
		margin-top: 2%;
	}

	.menuButton h3 {
		display: inline-block;
		padding-left: 3%;
		padding-bottom: 2%;
	}

	#logo-img {
		width: 170px;
		height: 115px;
	}

	#headerNav {
		width: -20%;
	}

	#pageContent{
		width: 100%;
		display: block;
	}

	.subSection h1 {
		left: 0%;
		right: 0%;
	}
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
}

@media screen and (max-width: 900px) {
	.menu-side {
		left: -60%;
		width: 40%;
	}
	ul.navbar-nav {
		margin:.2em;
	}

}

@media screen and (max-width: 650px) {
	.menu-side {
		left: -60%;
	}

	#section1 h2, #section2-about h2, #section3-services h2,#section4-pricing h2, #section5-equipment h2, #section7-contact h2 {
		margin-left: 20%;
		margin-right: 20%;
	}

	#section2-about, #section3-services,#section4-pricing, #section5-equipment, #section6-faq, #section7-contact {
		height: 100%;
	}

	#pageContent {
		width: 100%;
	}

	#logo-img {
		width: 90%;
	}

	.subSection h1 {
		padding-top: 8%;
		font-size: 1.6em;
	}

	#faqAndSaftety {
		line-height: .9;
	}

}

@media screen and (max-width: 405px) {
	.menu-side {
		left: -70%;
		width: 60%;
	}
}

@media screen and (max-width: 460px) {
	#pageContent {
		margin-top: 10%;
	}
	.subSection h1 {
		padding-top: 10%;
		font-size: 1.4em;
	}

	#section6-faq h2 {
		padding: 4px;
		font-size: 1.1em;
	}

}

@media screen and (min-width: 800px) {
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 100%;
		height: 470px;
	}

	#menuHead img {
		margin-top: -10px;
		padding: 0;
	}

	#logo-img {
		margin-left: 15px;
	}
}

@media screen and (min-width: 1250px) {
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 100%;
		height: 600px;
	}
}

@media screen and (max-height: 520px) {

	.navbar-nav li a {
		padding: 2%;
	}
}
