body {
	margin: 0 auto;
	padding-top: 20px;
	font-size: 16px;
	background-color: #c7f5ee;
}

@media screen and (max-width:800px) {
	iframe {
		width: 90%;
	}
}

.container-fluid {
	text-align: center;
}

#index-footer {
	background-color: #c7f5ee;
	text-align: center;
	height: 80px;
}

#index-footer p {
	padding: 20px;
}