$darkBlue: #70A2CD;
$margin: 16px;

@mixin transitionTime {
$transTime: 2s;
-webkit-transition: $transTime; /* For Safari 3.1 to 6.0 */
	transition: $transTime;
}

body {
	margin: 0 auto;
	padding-top: 10px;
	background-color: #efefef;
}

html,body,h1,h2,h3,h4,h5,h6 {
	font-family: Verdana,"Roboto", sans-serif;
	font-size: 1em;
	line-height: 1.5;
}

h2 {
	font-size: 1.6em;
	font-weight: 400;
}

#page-content {
	margin: 0 .8em 0 .8em;
	width: 99%;
}

.bio-section {
	width: 25%;
	height: auto;
	display: inline-block;
	float: left;
	margin: 5px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.container {
	padding: 0.01em 1em;
	width:100%;
	background-color: #fff;
	color: #000;
}

.box img {
	padding-bottom: 10px;
	width: 100%;
	margin: 0 0;
}

.box h2 {
	background-color: #ffffff;
	color: #000000;
	margin: 0;
	padding-left: .8em;
}

.progress-container {
	width: 100%;
	height: 1.5em;
	position: relative;
	background-color: #f1f1f1;
}

.progressbar {
	background-color: #757575;
	height: 100%;
	position: absolute;
	line-height: inherit;
}

.text-center {
	text-align: center;
}

.opacity-font {
	opacity: .7;
}

.text-color, .text-color:hover {
	color: $darkBlue;
}

.teal {
	background-color: $darkBlue;
	border-radius: 10px;
}

.current {
	border: 1px solid $darkBlue;
	border-radius: 10px;
	padding: 2px;
}

.container-box img {
	width: 300px;
}

.text-white {
	color: white;
}

.margin-right {
	margin-right: .5em;
}

.caption a {
	font-size: .8em;
	text-align: center;
}

.thumbnail .caption {
	text-align: center;
}

.container-box img:hover {
	opacity: .5;
	cursor: pointer;
}

.rs img {
	padding-bottom: 20px;
}

.work-section {
	width: 72%;
	height: auto;
	display: inline-block;
	float: right;
	margin: 5px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.portfolio-section,.education-section {
	width: 72%;
	height: auto;
	display: block;
	float: right;
	margin: 5px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}


@media screen and (max-width: 998px) {
	.bio-section {
		width: 38%;
		height: auto;
		display: inline-block;
		float: left;
	}

	.work-section,.portfolio-section,.education-section {
		width: 59%;
		height: auto;
		display: inline-block;
		float: right;
	}
}

@media screen and (max-width: 700px) {
	.bio-section,.work-section,.portfolio-section,.education-section {
		width: 100%;
		height: auto;
		display: block;
		margin: 0;
	}

	.info {
		display: inline-block;
		float: right;
		width: 50%;
	}

	.box img {
		display: inline-block;
		float: left;
		width: 29%;
		height: auto;
	}

	#page-content {
		margin: 0;
	}
}

@media screen and (max-width: 437px) {
	.info {
		display: block;
		width: 100%;
	}

	.box img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.location {
	padding: .5em;
	background-color: $darkBlue;
}

.work-map {
	width: 100%;
	margin: 0 auto;
	height: auto;
	display: block;
	clear: both;
	text-align: center;
	background-color: #ffffff;
}

footer {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	height: 10em;
	clear: both;
	position: relative;
	z-index: 10;
	margin-top: .5em;
	background-color: $darkBlue;
	padding-top: 2.5em;
	color: #ffffff;
	font-size: 1.5em;
}

.hover-text-purple:hover {
	color: purple;
}

.hover-text-blue:hover  {
	color: #0096C7;
}

.hover-text-yellow:hover  {
	color: yellow;
}

.hover-text-red:hover {
	color: red;
}

.html-transition {
	width: 30%;
	@include transitionTime;
}

.html5-transition {
	width: 90%;
}

.javascript-transition {
	width: 20%;
	@include transitionTime;
}

.javascript-skill-transition {
	width: 80%;
}

.photo-skill-transition {
	width: 10%;
	@include transitionTime;
}

.photography-skill-transition {
	width: 50%;
}

.webdesign-skill-transition {
	width: 10%;
	@include transitionTime;
}

.web-skill-transition {
	width: 75%;
}

.css3-skill-transition {
	width: 10%;
	@include transitionTime;
}

.css-skill-transition {
	width: 70%;
}

.english-lang {
	width: 10%;
	@include transitionTime;
}

.english-lang-transition {
	width: 100%;
}

.german-lang {
	width: 10%;
	@include transitionTime;
}

.german-lang-transition {
	width: 70%;
}

@media screen and (max-width: 816px) {
	.portfolio-section {
		width: 100%;
		-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
		animation-name: example;
		animation-duration: 2s infinate;
	}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
	0% {width: 59%;}
	100% {width: 100%;}
}

/* Standard syntax */
@keyframes example {
	0% {width: 59%;}
	100% {width: 100%;}
}